.container {
  display: flex;
  flex-direction: column;
  width: 1280px;
}

.content {
  width: 1280px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gap {
  width: 1280px;
  height: 40px;
}
