.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1280px;
}

.carousel {
  width: 1280px;
  height: 688px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gap {
  width: 1280px;
  height: 64px;
}

.banner {
  width: 1280px;
  height: 240px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productsList {
  width: 1280px;
  height: 1196px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gapSmall {
  width: 1280px;
  height: 40px;
}
